language = "python3"
run = "streamlit run app.py --server.port 8501 --server.address 0.0.0.0"
entrypoint = "app.py"

[nix]
channel = "stable-22_11"

[env]
PATH = "/home/runner/.local/bin:$PATH"

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

[packager.features]
packageSearch = true
guessImports = true

[languages.python3]
pattern = "**/*.py"
syntax = "python"

[languages.python3.languageServer]
start = [ "python3", "-m", "pylsp" ]

[deployment]
run = ["sh", "-c", "streamlit run app.py --server.port 8501 --server.address 0.0.0.0"]
deploymentTarget = "cloudrun" 